<div class="row">
  <div class="col-sm-4 col-md-4" ng-repeat="plates in $ctrl.plates">
    <div class="thumbnail">
      <div class="caption text-center">
         <h3>{{plates.name}}</h3>
         <p>{{plates.description}}</p>
         <strong>Price: {{plates.price_large}}</strong>
        <!--<p>{{category.id}}</p>-->
        <!--<p>{{category.short_name}}</p>-->
          <!--<button type="button" ui-sref="categoriesDetail" class="btn btn-info">See Details</button>-->
      </div>
    </div>
  </div>
</div>
